

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Contacts</title>
  </head>
  <body>
    <ul>
     <div class="whole_body">
       <div class="contact_number">
         <h3>There are <span><%= Contact.count %></span> contacts</h3>
       </div>
       <div class="contact_list">
         <% @all_contacts.each do |contact| %>
          <li>
            <a href='contacts/<%= contact.id %>'> <%= contact.full_name %></a>
            (<%= contact.email %>) <br> <a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="">Delete</a>
          </li><br>
         <% end %>
       </div>
     </div>
    </ul>

  </body>
</html>
